@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  /* outline: 1px solid purple; */
}

body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  background: linear-gradient(#a1c4fd 0%, #c2e9fb);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 45vh;
  margin: 0 auto;
  border-radius: 4px;
}

.first-form {
  display: flex;
  margin: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;
}

.first {
  margin-top: 30px;
}

.formed {
  margin-right: 20px;
  height: 4vh;
  width: 20vw;
  border-radius: 5px;
  font-size: 22px;
  outline: none;
  padding-left: 10px;
}

.formed:focus {
  box-shadow: 1px 1px 1px 1px lightblue;
}

.first-btn {
  height: 4vh;
  width: 7.5vw;
  font-size: 22px;
  font-weight: 600;
}

.second-expenses {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 22px;
}

.second {
  width: 50%;
}

.expenses {
  width: 50%;
}

.second-form-input,
.third-form-input {
  display: flex;
  flex-direction: column;
}

.formed-two,
.formed-three {
  width: 90%;
  height: 4vh;
  border-radius: 3px;
  margin: 15px 0px 15px 0px;
  padding-left: 10px;
  font-size: 20px;
  background: rgb(221, 176, 210);
}

.second-btn {
  height: 4vh;
  width: 5vw;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.budget-info,
.budget-info-two {
  height: 4vh;
  width: 90%;
  background: rgb(48, 152, 187);
  font-size: 22px;
  font-weight: 500;
  padding-top: 8.5px;
  padding-left: 7.5px;
  border-radius: 3px;
}

.budget-info-two {
  background: lightgreen;
}

.my-expenses {
  font-size: 22px;
}

.list {
  max-height: 30vh;
  overflow: scroll;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 30vh;
  bottom: 1rem;
  color: rgb(117, 117, 117);
}